Package: com.kindadev.KillBackground7
Name: KillBackground7
Depends: mobilesubstrate, firmware (>= 7.0), preferenceloader
Conflicts: com.mathieubolard.killbackground
Version: 1.0.2
Architecture: iphoneos-arm
Description: Kill background apps with style for iOS 7!
Maintainer: kindadev (@wa_kinchan)
Author: Mathieu Bolard (mattlawer) & kindadev (@wa_kinchan)
Section: Tweaks
