Package: com.kindadev.KillBackground7
Name: KillBackground7
Depends: mobilesubstrate, firmware (>= 6.0), preferenceloader
Version: 0.1
Architecture: iphoneos-arm
Description: Kill background apps with style !
Maintainer: Mathieu Bolard (mattlawer) <mattlawer08@gmail.com>
Author: Mathieu Bolard (mattlawer) <mattlawer08@gmail.com>
Depiction: http://mathieubolard.com/mobile/depiction/killbackground.html
Section: Tweaks
